/* ThinkTwit - Twitter Widget */

ol.thinkTwitTweets {
    font-size          : 12px;
    margin             : 0;
}

ol.thinkTwitTweets li.thinkTwitTweet {
    list-style         : none;
    margin             : 0 0 15px;
    word-wrap          : break-word;
}

ol.thinkTwitTweets li.thinkTwitTweet img {
    border             : 0;
    float              : left;
    margin-right       : 5px;
}

ol.thinkTwitTweets li.thinkTwitTweet span.thinkTwitPublished {
    display            : block;
    font-style         : italic;
}